<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>  
      
    <ion-title>
        Home Screen     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home Feed: Welcome Hello World"></app-explore-container>
    
     <iframe class= 'webPage' name= "samplePage" src="http://PTH.xctab.com/pages.html">
    </iframe>
  
      <ion-button class="home-button-primary" expand="round" color="primary">Primary</ion-button>
      
      <ion-button class="home-button" expand="round" href="https://PTH.xctab.com" >To PTH</ion-button>
    
      <ion-button class="home-button-2" expand="round" href="https://porterjallen.com/">To PJA</ion-button>
    
 
    
    
    
    
    
</ion-content>
