.menu-button {
    
 --border-width:90;   
}

.profile-tab  {
   height: 80px; 
    
}
    
.profile-text {
        
        margin-left:10%;
    --ion-font-family:  'Ubuntu'!important;
        font-family: 'Ubuntu', sans-serif;
        font-size:160%;
        
        
    }


.profile-item  {
    
   margin-left:10%; 
    
}

.Signout-button  {
    
    margin-left:14%;
    margin-top:54%;
}

.menu-button2 {
    
   
    --ion-font-family:  'Ubuntu'!important;
        font-family: 'Ubuntu', sans-serif;
        font-size:160%; 
    
    
}